<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src ="angular.js"></script>
    <script src = "app.js"></script>
    <link rel="stylesheet" href="/CMPS1/css/login.css">
</head>

<body ng-app = "sga">
    <div ng-controller="MainController as MainCtrl">

        <div class="body"></div>
        <div class="grad"></div>
        <div class="header">
            <div><a style="color:gold">SGA</a><span><a style="color: seagreen">Connect</a></span></div>
        </div>
        <br><br>
        <div class="login">
            {{ error }}
            <input type="text" placeholder="username" ng-model="username" required><br>
            <input type="password" placeholder="password" ng-model="password" required><br>
            <input type="button" value="Login" ng-click="login(username,password)">
        </div>

    </div>
    </div>
</body>
</html>