
header, footer {
    background-color: inherit;
        text-align: center;
}
img{
    background-size: 70%;
}

#accordion{
    cursor: pointer;
}

.newspaper {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;

    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;

    -webkit-column-rule: 1.5px outset black; /* Chrome, Safari, Opera */
    -moz-column-rule: 1.5px outset black; /* Firefox */
    column-rule: 1.5px outset black;
}

.even {
    padding: 1rem 1rem 1rem 0;
    display: table;
    }


.even-date {
    width: 6rem;
    margin: 0 auto 1rem;
    display: table-cell;
    width: auto;
    border: 4px black;
}
.even-date .even-month {
    margin: 0;
    font-size: medium;
    background: mediumturquoise;
    padding: 0.7rem 3rem;
    text-align: center;
    border: 4px black;

}


.even-date .even-day {
    margin: 0;
    background-color: lightgrey;
    padding: 0.5rem 2rem;
    text-align: center;
    font-size: 2rem;
    border: 4px black;
}

.even-desc {
    padding: 0 0 0 1rem;
    text-align: left;
    display: table-cell;
    vertical-align: top;
}
.even-desc .even-desc-header {
    margin: 0 0 0.5rem 0;
    padding: 0;
    font-size: large;
}
.even-desc .even-desc-detail {
    margin: 0 0 0.25rem;
    padding: 0;
}
.even-desc .even-desc-time {
    font-weight: bold;
}
.even-desc .rsvp.button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0;
}