

@font-face {
    font-family: 'BillsFont';
    src: url('/CMPS1/fonts/Oswald-Regular.ttf');
}
caption{
    font-family: 'BillsFont';
    font-size: 40px;
}
table{

    margin-left: 18%;

    broder:1.5px solid black;
    broder-radius:1;
}
th{
    font-family:'BillsFont';
    font-weight: bold;
font-size: large;
    padding: 20px;
    text-align:left;
    background-color:grey;
}
td {
    font-family: 'BillsFont';
    font-weight: 400;
    padding: 20px;
    background-color:lightgray;

}

td input[type=button]{
    font-family: 'BillsFont';
    width:120px;
    height:40px;
    background-color:#555555 ;
    border: 4px solid #555555;
    cursor: pointer;
    border-radius: 2.5px;

}
