@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);


body{
    margin-top: 125px;
    padding: 0;
    background-image: url(/CMPS1/images/FlagsDesktop.jpg);

    color: white;
    font-family: Arial;
    font-size: 14px;
}
a {
    color: yellow;
}
a:hover{
    color: green;
}


.body{
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background: linear-gradient(#008000,#003300);
    background-size: cover;
    -webkit-filter:blur(1.5px) ;
    z-index: 0;
}

.grad{
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    z-index: 1;
    opacity: 0.7;
}

.header{
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 255px);
    z-index: 2;
}

.header div{
    float: left;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 35px;
    font-weight: 200;
}
table th  {
    background-color: transparent;
    color: goldenrod;
    text-align: left;
}
table.center{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
body{text-align:center;}

table caption{
    text-align: center;
    color: yellow;
    font-size: 24px;
}

