.icon-bar {
     background-color:black;
 }
@font-face {
    font-family: aroma-bold;
    src: url(/fonts/aroma-bold.ttf);
}
nav{
    font-family: aroma-bold;
}

.navbar-trans {
    background-color: rgba(64,212,126,0.9) !important;
    color:black;
    cursor: pointer;

}

.navbar-trans li>a:hover{
    background-color:rgba(64,212,126,0.9);
    font-family: aroma-bold;

    cursor: hand;
}
.navbar-trans a{

    font-family: aroma-bold;
    color:white;
    font-size: 20px;
 line-height: 26px;
}
.navbar-trans img{
    padding-top: 2px;

    height: 100px;
}


#scrollContent{
    height:186px;
    overflow:auto;
    position:relative;
}
nav.navbar.shrink {
    min-height: 35px;
}

nav.shrink a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 15px;
}

nav.shrink .navbar-brand {
    font-size: 25px;
}

nav.shrink .navbar-toggle {
    padding: 4px 5px;
    margin: 8px 15px 8px 0;
}


