.icon-bar {
     background-color:black;
 }

.navbar-trans {
    background-color: rgba(64,212,126,0.9) !important;
    color:black;

}
.navbar-trans li>a:hover{
    background-color:rgba(64,212,126,0.9);
}
.navbar-trans a{

    font-family: Verdana, Geneva, sans-serif;
    color:white;
    font-size: 20px;
 line-height: 26px;
}
.navbar-trans img{
    padding-top: 2px;

    height: 100px;
}


#scrollContent{
    height:186px;
    overflow:auto;
    position:relative;
}
