
<!--<div class="col-md-6 col-md-offset-3">-->
	<link rel="stylesheet" href="/CMPS1/css/login.css">

    <div class="body"></div>
    <div class="grad"></div>

    <div class="header">
        <br><br><br>
        <div><a style="color:gold"><b>SGA</b></a><span><a style="color: darkgreen" ><b>Connect</b></a></span></div>
    </div>

    <br><br>

    <div class="login">
        <nav>
            <div >
                <div><h3> LOGIN HERE </h3></div>
                <!--<div ng-hide= "!istrue" ><h3 style="color: red">invalid username/password</h3></div>-->
                <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>
                <form name="form" ng-submit="vm.login()" role="form">
                    <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                        <label ng-show="!(form.username.$dirty && form.username.$error.required)" class="help-block"><h4>Username</h4></label>
                        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block"><h4 style="color: red">Username is required</h4></span>
                        <input type="text" name="username" id="username" placeholder="username" class="form-control" ng-model="vm.username" required />
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                        <label ng-if="!vm.passright" ng-show="!(form.password.$dirty && form.password.$error.required)" class="help-block"><h4>Password</h4></label>
                        <span ng-if="!vm.passright" ng-show="(form.password.$dirty && form.password.$error.required)" class="help-block"><h4 style="color: red">Password is required</h4></span>
                        <span ng-if="vm.passright"><h4 style="color: red">Invalid Password</h4></span>
                        <input type="password" name="password" id="password" placeholder="password" class="form-control" ng-model="vm.password" required />
                    </div>
                    <div class="form-actions">
                        <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">LOGIN</button>
                        <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>
                </form>
        </nav>
    </div>

<!--</div>-->