<div ng-controller="LoginController">
	
	<link rel="stylesheet" href="/CMPS1/css/login.css">

    <div class="body"></div>
    <div class="grad"></div>

    <div class="header">
        <br><br><br>
        <div><a style="color:gold"><b>SGA</b></a><span><a style="color: darkgreen"><b>Connect</b></a></span></div>
    </div>

    <br><br>

    <div class="login">
        <nav>
            <div >
                <div style=padding-left:18% ng-show="(!istrue)" ><h2 style="color:gold"> LOGIN HERE </h2></div>
                <div  ng-show="istrue" ><h3 style="color: red">invalid username/password</h3></div>
            </div>
            <input type="text" placeholder="username" ng-model="username" required="required" autofocus="autofocus"  onkeydown="if (event.keyCode == 13) document.getElementById('login').click()"><br>
            <input type="password" placeholder="password" ng-model="password" required="required" autofocus="autofocus"  onkeydown="if (event.keyCode == 13) document.getElementById('login').click()"><br>
            <input type="button" id="login" value="Login" ng-click="login(username,password)"><br>
        </nav>
    </div>

</div>